@page "/products/list"
@using BlazorPlatzi.Components.Product

<a href="products/create" class="btn btn-outline-primary">Crear un producto</a>
<br />
<hr />
<ListProductComponent></ListProductComponent>

@code {

}
