@page "/category/list"
@using BlazorPlatzi.Components.Category

<a href="category/create" class="btn btn-outline-primary">Nueva Categoria</a>
<br />
<hr />
<ListComponent></ListComponent>



@code {

}
